


#container {

	position: relative;
	height: 300px;
	width: 600px;
	margin: 100px auto;
	border: 1px solid gray;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.child{
	height: 20px;
	width: 20px;
	border: 1px solid #e0e0e0;
	background-image: url('checkbox_icon.png');
	background-size: cover;
	background-position: 148px -48px;
	background-repeat: repeat-x;
	transition: 0.9s;
	
}

.two {
	background-size: cover;
	background-size: 100px;
	background-position: 123px 123px;
}

.one {
	background-image: url('checkbox_icon.png');
	background-size: cover;
	background-size: 100px;
	background-position: 148px -27px;
	background-repeat: repeat-x;
	transition: 0.9s;
}